body { font-family: Arial, sans-serif; background:#0879eb; }
.container { width:500px; margin:80px auto; background:white; padding:20px; border-radius:6px; box-shadow:0 0 15px rgba(0,0,0,.1); text-align:center; }
